﻿/*
 * Ext JS Library 2.2
 * Copyright(c) 2006-2008, Ext JS, LLC.
 * licensing@extjs.com
 * 
 * http://extjs.com/license
 */

.img-chooser-dlg .details{ 
    padding: 10px; 
    text-align: center; 
} 
.img-chooser-dlg .details-info{ 
    border-top: 1px solid #cccccc; 
    font: 11px Arial, Helvetica, sans-serif; 
    margin-top: 5px; 
    padding-top: 5px; 
    text-align: left; 
} 
.img-chooser-dlg .details-info b{ 
    color: #555555; 
    display: block; 
    margin-bottom: 4px; 
} 
.img-chooser-dlg .details-info span{ 
    display: block; 
    margin-bottom: 5px; 
    margin-left: 5px; 
} 

.img-chooser-view{ 
    background: white; 
    font: 11px Arial, Helvetica, sans-serif;
} 
.img-chooser-view .thumb{ 
    background: #dddddd; 
    padding: 3px; 
} 
.img-chooser-view .thumb img{ 
    height: 32px; 
    width: 32px; 
} 
.img-chooser-view .thumb-wrap{ 
    float: left; 
    margin: 4px; 
    margin-right: 0; 
    padding: 5px;
} 
.img-chooser-view .thumb-wrap span{ 
    display: block; 
    overflow: hidden; 
    text-align: center; 
} 
.img-chooser-view .x-view-over
{
    border: 1px solid #dddddd;    
    padding: 4px;
}
.img-chooser-view .x-view-selected{ 
    background: #DFEDFF; 
    border: 1px solid #6593cf; 
    padding: 4px; 
} 
.img-chooser-view .x-view-selected .thumb{ 
    background:transparent; 
}
.img-chooser-view .x-view-selected span{ 
    color:#1A4D8F;
}
.img-chooser-view .loading-indicator { 
    font-size:11px; 
    background-image:url(loading.gif); 
    background-repeat: no-repeat; 
    background-position: left; 
    padding-left:20px; 
    margin:10px; 
} 
